services:
  database:
    image: postgres:18
    restart: unless-stopped
    container_name: database
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=somethingtodo-today
    ports:
      - '5432:5432'
    volumes:
      - ./database:/var/lib/postgresql
      - .docker/init.sql:/docker-entrypoint-initdb.d/create_tables.sql

volumes:
  database:
    driver: local